    img.zuoshang{
      height:40%;
      width:40%;
      position:absolute;
      left:5px;
      top:5px;
      }
    img.youshang{
      height:40%;
      width:40%;
      position:absolute;
      right:5px;
      top:5px;
      }
    img.zuoxia{
      height:40%;
      width:40%;
      position:absolute;
      left:5px;
      bottom:5px;
      }
    img.youxia{
      height:40%;
      width:40%;
      position:absolute;
      right:5px;
      bottom:5px;
      }

